.lpsettings-noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lpsettings-multiselect {
  width: 400px;
  font-size: 15px;
  padding-bottom: 4px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  outline: none;
}

.lpsettings-multiselect:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.lpsettings-multiselect.active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 1px solid transparent;
}

.lpsettings-multiselect > .lpsettings-title {
  cursor: pointer;
  height: 16px;
  padding: 6px;
}

.lpsettings-multiselect > .lpsettings-title > .lpsettings-text {
  max-width: 360px;
  max-height: 25px;
  display: block;
  float: left;
  overflow: hidden;
  line-height: 1.3em;
}

.lpsettings-multiselect > .lpsettings-title > .lpsettings-expand-icon,
.lpsettings-multiselect > .lpsettings-title > .lpsettings-close-icon {
  float: right;
  border-radius: 50%;
  padding: 0 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 700;
  transition: 0.2s;
  display: none;
}

.lpsettings-multiselect.selection > .lpsettings-title > .lpsettings-expand-icon {
  display: none;
}

.lpsettings-multiselect > .lpsettings-title > .lpsettings-expand-icon,
.lpsettings-multiselect.selection > .lpsettings-title > .lpsettings-close-icon {
  display: block;
}

.lpsettings-multiselect > .lpsettings-title > .lpsettings-close-icon:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgb(203, 32, 32);
  color: #fff;
}

.lpsettings-multiselect > .lpsettings-container {
  max-height: 200px;
  overflow: auto;
  margin-top: 4px;
  margin-left: -1px;
  width: 400px;
  transition: 0.2s;
  position: absolute;
  z-index: 99;
  background: #fff;
  border: 1px solid transparent;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.lpsettings-multiselect.active > .lpsettings-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: 0;
}

.lpsettings-multiselect:hover > .lpsettings-container {
  border-top-color: rgba(0, 0, 0, 0.3);
}

.lpsettings-multiselect.active:hover > .lpsettings-container {
  border-color: rgba(0, 0, 0, 0.3);
}

.lpsettings-multiselect > .lpsettings-container > option {
  display: none;
  padding: 5px;
  cursor: pointer;
  transition: 0.2s;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.lpsettings-multiselect > .lpsettings-container > option.selected {
  background: rgb(122, 175, 233);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #fff;
}

.lpsettings-multiselect > .lpsettings-container > option:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #000;
}

.lpsettings-multiselect.active > .lpsettings-container > option {
  display: block;
}

.no-pointer {
  pointer-events: none;
}